# APP_NAME=apocalipssi-backend
# APP_ENV=development
# APP_DEBUG=true
# APP_HOST=0.0.0.0
# APP_PORT=8000
# LOG_LEVEL=INFO

# DATABASE_URL=postgresql+asyncpg://postgres:password@db:5432/app
# SYNC_DATABASE_URL=postgresql+psycopg://postgres:password@db:5432/app

# DATABASE_URL=postgresql+asyncpg://postgres.uluxrmkecosxxuoagfsi:Wct1k68WGhPNnDpe@aws-1-eu-west-1.pooler.supabase.com:5432/postgres
# SYNC_DATABASE_URL=postgresql://postgres.uluxrmkecosxxuoagfsi:Wct1k68WGhPNnDpe@aws-1-eu-west-1.pooler.supabase.com:5432/postgres
# SUPABASE_JWT_SECRET=YOUR_SUPABASE_JWT_SECRET

# CORS_ORIGINS=["http://localhost:3000","http://localhost:5173"]
APP_NAME=apocalipssi-backend
APP_ENV=development
APP_DEBUG=true
APP_HOST=0.0.0.0
APP_PORT=8000
LOG_LEVEL=INFO

DATABASE_URL=postgresql+asyncpg://postgres.uluxrmkecosxxuoagfsi:Wct1k68WGhPNnDpe@aws-1-eu-west-1.pooler.supabase.com:5432/postgres
SYNC_DATABASE_URL=postgresql://postgres.uluxrmkecosxxuoagfsi:Wct1k68WGhPNnDpe@aws-1-eu-west-1.pooler.supabase.com:5432/postgres

SUPABASE_URL=https://uluxrmkecosxxuoagfsi.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVsdXhybWtlY29zeHh1b2FnZnNpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3MzgzNjIsImV4cCI6MjA4OTMxNDM2Mn0.n78LoeOfiwsjeOwPeMzYBSbbqCAPWUZT_eFwHdoFHG4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVsdXhybWtlY29zeHh1b2FnZnNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzczODM2MiwiZXhwIjoyMDg5MzE0MzYyfQ.6NBNQpho5JCXxna1xnxTGKAFLc8doFz5O-17L4mG9mw
SUPABASE_JWT_SECRET=QUuAPANotMUikEkIacOHXdYtCsZGj1i6aWu4JvnbgiU2ElnmeQaJq6/2rtA05K1FieqZRDYcnP8OsP62FHkbsQ==

CORS_ORIGINS=["http://localhost:3000","http://localhost:5173"]
